/*一つ目を表すぎじ要素
  ::first-letter  最初の文字
  ::first-line  最初の１行*/


  ul{
    color: #000;
    font: normal 1.3em sans-serif;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 70%;
}

li{
    border: 1px solid;
    margin: 12px 0;
    padding: .6em;

}
/*ダブルころんなので注意*/
.intro::first-line{
    color: royalblue;
    font-weight: bold;
    font-size: 32px;
}
/*ドロップキャップ　最初の１行から２行を大きくすること*/
.intro::first-letter{
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: bisque;
    font-size: 100px;
}