body{
    font: 1.1em/1.5 sans-serif;
    padding-top: 20px;
}

ul{
    border: 1px solid;
    margin: auto;
    padding: 10px 20px 30px;
    width: 760px;

}
/*属性セレクタを使うと -last(only)*/
li:first-child{
    background-color:crimson;
    color:white;
    padding: 5px;

}

/*擬似要素を使うと*/
a:link{
    color:black;
}
a:visited{
    color:white;
}
a:hover{
    text-decoration: none;

}
:focus{
    background-color:yellow;
}
