/*文字スタイル
　font-style:通常
  nomal：通常
  italic：斜体
  oblique：斜体
  inherit親要素の指定を継承する。*/

/*font-variant:normal
 small-caps : 全てを大文字
 inherit : 親要素を指定する。
 
 font :<font-style>*/
 body{
   padding: 1em 6em;

 }

 p{
   font-style: oblique;
 }

h1{
  font: italic small-caps lighter 2.5em/2.7em sans-serif;
}